<div cdkDropListGroup>
  <app-header-home></app-header-home>
  <router-outlet></router-outlet>
</div>

<div class="fixed_cart" *ngIf="toggleCart" (click)="closeCart($event)">
  <app-cart-items class="Cart_items"></app-cart-items>
</div>

<div class="fixed_notifications" *ngIf="showNotificationAddCart">
  <div class="notify addNotify">Item Added to Cart!</div>
</div>

<div class="fixed_notifications" *ngIf="showNotificationRemoveCart">
  <div class="notify removeNofify">Item Removed From Cart!</div>
</div>
 <app-footer-home></app-footer-home> 
