<footer class="endsection">
  <a class="linkbacktotop" routerLink="#"
    ><button class="btnbacktotop" (click)="scrollToTop()">Back to top</button></a
  >

  <div class="copyright_Information">
    <div style="text-align: center">
      <a>Conditions of Use & Sale </a>
      <a>Privacy Notice </a>
      <a>Interest-Based Ads </a>
    </div>
    <div style="text-align: center;">
      © 1996-2023, Amazon.com, Inc. or its affiliates
    </div>
    <div style="text-align: center">
      <img
        src="./../../../assets/images/navigation-images/amazon_logo.png"
        alt="Logo"
      />
    </div>
  </div>
</footer>
